<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(src|.vscode|content|node_modules|CHANGELOG\.md|users.json|composer\.(json|lock|phar))(/|$) index.php
    # Enable URL rewriting
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .? index.php [L]
</IfModule>

#<FilesMatch "\.(ico|jpg|jpeg|gif|png|pdf|mp3|mp4)$">
#    Header set Cache-Control "public, max-age=31536000, no-transform"
#</FilesMatch>
#
# <FilesMatch "\.(css|js|html)$">
#     Header set Cache-Control "public, max-age=1209600, no-transform"
# </FilesMatch>

# Prevent file browsing
Options -Indexes -MultiViews