{% extends 'base.twig' %}

{% block title %}Über mich
{% endblock %}

{% block body %}
	<h2>Ausbildungen</h2>
	<p>
		<b>Kantonsschule Zug</b><br>
		Kaufmännische Berufsmaturität HMS
	</p>
	<p>
		<b>Bern</b><br>
		Eidgenössische Maturität<br>
	</p>
	<p>
		<b>Universität Zürich</b><br>
		Studium Kunstgeschichte, Literatur, Wirtschaft<br>
	</p>
	<p>
		<b>Cham</b><br>
		Tätigkeit im Rohstoffhandel<br>
	</p>
	<p>
		<b>Grossmann Podologie Praxis</b><br>
		Ausbildung zur Dipl. Fusspflegerin<br>
	</p>

{% endblock %}
