<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mein Angebot richtet sich an Personen, die ihre Füsse gerne im gewohnten Umfeld pflegen lassen möchten.">
    <title>
        {% block fullTitle %}
            {% block title %}Home
            {% endblock %}
            | FussplegePlus
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="banner"></div>
<div class="page">
    <header>
        <div class="logo">
            <a href="/"><img src="/assets/img/fusspflegeplus-logo.png" alt=""></a>
        </div>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/ueber-mich">Über mich</a></li>
                    <li><a href="/angebote">Angebote</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block body %}{% endblock %}

    {% block js %}
        <script src="/assets/js/app.js"></script>
    {% endblock %}
</div>
</body>
</html>
