{% extends 'base.twig' %}

{% block title %}Kontakt
{% endblock %}

{% block body %}
	<p>
		<b>Shana K체ffer</b><br>
		Dipl. Fusspflegerin SFPV<br>
		Zugerstrasse 6<br>
		6330 Cham<br>
	</p>

	Eingang Point of MovementFoto von Praxiseingang f체r Fusspflege in Cham

	<p>
		<b>Tel</b>:
		<a href="tel:0775306303">077 530 63 03</a>
		<br/>
		<b>Email</b>:
		<a href="mailto:info@fusspflege-cham.ch">info@fusspflege-cham.ch</a><br/>
	</p>

	<p>
		R채umlichkeiten sind barrierefrei. Parkpl채tze im Neudorf oder Coop Parkhaus.
	</p>
{% endblock %}
