{% extends 'base.twig' %}

{% block title %}Kontakt
{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="flex-row">
            <div>
                <p>
                    <b>Kontakt:</b><br>
                    Anne Gröber<br>
                    Dipl. Fusspflegerin<br>
                    Pflegefachfrau HF<br>
                </p>
                <p>
                    5606 Dintikon<br>
                    (zwischen Lenzburg und Wohlen)
                </p>
                <p>
                    <a href="tel:077 407 94 75">077 407 94 75</a><br>
                    <a href="mailto:fusspflegeplus@bluewin.ch">fusspflegeplus.ag@bluewin.ch</a>
                </p>
            </div>
            <div>
                <img src="/assets/img/dintikon-1.webp" alt="Dintikon auf Google Maps"></br>
            </div>
        </div>
    </div>
{% endblock %}
