{% extends 'base.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <p>
        Mein Angebot richtet sich an Personen, die ihre Füsse gerne im gewohnten Umfeld pflegen lassen möchten.
    </p>
    <p>
        Mit Ihnen gemeinsam entwickel ich ein individuelles Behandlungskonzept das genau zu Ihren Bedürfnissen passt.
        Gerne komme ich auch ins Spital, beziehungsweise in die Alters- oder Pflegeeinrichtung.
    </p>
    <p>
        Ich bin Mitglied im Schweizerischen Fusspflegeverband.
    </p>
{% endblock %}