{% extends 'base.twig' %}

{% block title %}Angebote{% endblock %}

{% block body %}
    <div>
        <table class="customTable">
            <thead>
            <tr>
                <td colspan="2">Angebote und Tarife</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <ul>
                        <li>
                            Fuss und Nagelpflege, inklusive Massage
                        </li>
                        <li>
                            Behandlung schmerzender Nägel
                        </li>
                        <li>
                            Behandlung von Druckstellen
                        </li>
                        <li>
                            Anfahrt bis 15 Km
                        </li>
                    </ul>
                </td>
                <td>
                    Je nach Aufwand zwischen 95.- und 125.-
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            Fussnägel lackieren
                        </li>
                    </ul>
                </td>
                <td>
                    13.-
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            Fahrtkosten ab 15KM
                        </li>
                    </ul>
                </td>
                <td>
                    70 Rp. /Km
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}